.login {
  flex: 1 0 auto;
  padding-top: 115px;
  background: url('/assets/img/bg-login.jpg') center no-repeat / cover;

  &_container {
    width: 560px;
    margin: auto;
  }

  &_title,
  &_description {
    text-align: center;
    color: #fff;
  }

  &_title {
    margin-bottom: 15px;
    font: $font-bold 42px/1.5 $font-family-2;
  }

  &_description {
    margin-bottom: 35px;
    line-height: 1.5;
  }

  &_form {
    overflow: hidden;
    width: 280px;
    margin: auto;
    border-radius: 3px;
    background: #fff;
  }

  &_fieldset {
    margin-bottom: 10px;
  }

  &_label {
    position: relative;
    display: block;

    .icon {
      position: absolute;
      top: 17px;
      left: 20px;
    }
  }

  &_field {
    width: 100%;
    padding: 15px 20px 15px 50px;
    border: 0;
    border-bottom: 1px solid $color-silver;
    outline: 0;
    font: $font-light $font-size-base $font-family-1;
    color: inherit;

    &:focus {
      border-color: $color-sky;
    }

    &::placeholder {
      color: $color-silver;
    }
  }

  &_link {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: $font-bold;
    color: $color-sky;

    &:hover {
      text-decoration: underline;
    }
  }

  &_button {
    @extend %clear-button;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 0;
    font: $font-bold 14px $font-family-2;
    color: #fff;
    background: $color-sky;
  }
}

.form_bottom {
  padding: 20px 20px 0;
}

