// ------------------------------------------
// Utils
//-------------------------------------------

@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/placeholders';
@import 'utils/functions';


// ------------------------------------------
// Base
//-------------------------------------------

@import 'base/myreset';
@import 'base/fonts';
@import 'base/base';


// ------------------------------------------
// Common
//-------------------------------------------

@import 'common/icons';
@import 'common/header';
@import 'common/user-panel';
@import 'common/footer';
@import 'common/section';
@import 'common/thumbs';


// ------------------------------------------
// Layout
// ------------------------------------------

@import 'layout/grid';


// ------------------------------------------
// Pages
//-------------------------------------------

@import 'pages/login';
@import 'pages/index';

.container {
  @extend %clearfix;
  $padding: 20px;
  position: relative;
  width: 1180px + ($padding * 2);
  padding: 0 $padding;
  margin: auto;
}

.main {
  padding: 50px 0;
}
