// -----------------------------------------
// Fonts
// -----------------------------------------

$font-family-1:                             'Proxima nova', 'Arial', sans-serif;
$font-family-2:                             'Panton', 'Arial', sans-serif;

$font-bold:                                 700;
$font-light:                                300;
$font-semibold:                             600;

$font-size-base:                            16px;


// -----------------------------------------
// Colors
// -----------------------------------------

$color-text-base:                           #323232;
$color-background-base:                     #f6f6f6;
$color-gray:                                #999;
$color-silver:                              #ccc;
$color-sky:                                 #28bbf0;

// -----------------------------------------
// Other
// -----------------------------------------

$grid-gutter:                               10;

$breakpoints: (
  'medium': ( min-width: 800px  ),
  'large':  ( min-width: 1000px ),
  'huge':   ( min-width: 1200px ),
);
