.footer {
  position: relative;
  background: center no-repeat / cover;
  padding: 20px 0;

  &:after {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  .container {
    display: flex;
    z-index: 10;
  }

  &_side {
    flex: 1;
  }

  &_center {
    flex-shrink: 0;
    width: 270px;
    text-align: center;
  }

  &_text,
  &_copy {
    line-height: 1.4;
  }

  &_text {
    color: #fff;
  }

  &_copy {
    color: #949797;
  }
}
