.icon {
  vertical-align: middle;
}

.icon-15 {
  width: 15px;
  height: 15px;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

.icon-30 {
  width: 30px;
  height: 30px;
}

.icon-light {
  fill: #fff;
}

.icon-gray {
  fill: $color-gray;
}

.icon-silver {
  fill: $color-silver;
}