:root {
  box-sizing: border-box;
  font: $font-light $font-size-base $font-family-1;
  color: $color-text-base;
  background: $color-background-base;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root,
body {
  min-height: 100%;
}
