extends ../base.pug

block variables
  - var title = 'Альбом';

block content
  header.header(style="background-image: url('/assets/img/bg-album.jpg');")
    .container
      a.header_user(href="/")
        .header_user-photo(style="background-image: url('/assets/img/user-photo.jpg');")
        .header_user-name Александра Соколова
      .header_album-about
        .album-about
          h1.album-about_title Лесные прогулки
          p.album-about_description Фотографии природы леса, енотов и оленей. Как прекрасно сойти на дальней станции и пройтись по полю босиком. И чтобы никто не беспокоил бродить влюбленным в тишину. Запах мёда, лесных оленей и енотов будоражит нутро.
    .header_bottom
      .container
        .album-meta
          .album-meta_item 18 Фотографий
          .album-meta_item 12 Лайков
          .album-meta_item 4 Коментария

  main.main
    section.section
      .container
        .thumbs
          each i in [1, 2]
            .thumbs_line
              each j in [1, 2, 3]
                a.preview(href="/album.html")
                  img.preview_img(src="/assets/img/img-preview.jpg" alt="Животные")
                  .preview_overlay
                    .preview_meta
                      .preview_meta-item
                        +icon('comments', ['icon-30', 'icon-light'])
                        span 54
                      .preview_meta-item
                        +icon('like', ['icon-30', 'icon-light'])
                        span 23

  .modal-overlay(style="display: none;")
    .modal
      .modal_img
        img(src="/assets/img/img-origin.jpg")
